<div class="block-1">
    <div class="wrap">
        <div class="block-title">Узнайте, как сэкономить на<br class="clean-br">технологическом присоединении до 43% расхода
            <br class="clean-br">на электроэнергию ежемесячно законным путем
            <br>
            <br>Оплата за результат
        </div>
       
    </div>
</div>

<div class="block-2">
    <div class="wrap">
        <div class="block-subtitle">Бесплатно узнайте свой процент экономии, оставив заявку</div>
        <div class="box box--center">
            
            <div class="block-right">
                <form action="" id="form2">
                    <div class="form-flex">
                        <div class="form-col2">
                            <input type="text" name="name" placeholder="Ваше имя">
                        </div>
                        <div class="form-col2">
                            <input type="text" name="phone" placeholder="Номер телефона">
                         </div>
                    </div>
                    <div class="form-flex">
                        <div class="form-col2">
                            <div class="form__personal form__personal--white">
                                <input type="checkbox" name="personal" id="personal-3">
                                <label for="personal-3">Согласен(а) на обработку <a href="#">персональных данных</a></label>
                            </div>
                        </div>
                        <div class="form-col2">
                            <button type="submit">Оставить заявку</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div> 
</div>


